.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home .cont {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.home .foot {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f1f1f1;
}

.home .foot a {
  text-decoration: none;
  color: black;
}

.home .foot .active {
  color: red;
}
